flow.json
[{"id":"4289ebaf.ea24d4","type":"tab","label":"First Flow","disabled":false,"info":""},{"id":"bf156dbb.6d362","type":"tab","label":"Second Flow","disabled":false,"info":""},{"id":"968eeaef.c04e78","type":"inject","z":"4289ebaf.ea24d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123,"y":121,"wires":[["e9893469.8b9d18"]]},{"id":"e9893469.8b9d18","type":"http request","z":"4289ebaf.ea24d4","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":216.5,"y":209,"wires":[["eae29563.1189b8"]]},{"id":"eae29563.1189b8","type":"csv","z":"4289ebaf.ea24d4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"Get Earthquake data","skip":"0","x":393.5,"y":212,"wires":[["3819ac3f.de30b4","dbc0f4e3.dc8e28"]]},{"id":"3819ac3f.de30b4","type":"debug","z":"4289ebaf.ea24d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":553,"y":213,"wires":[]},{"id":"dbc0f4e3.dc8e28","type":"switch","z":"4289ebaf.ea24d4","name":"magnitude gt 7","property":"payload.mag","propertyType":"msg","rules":[{"t":"gt","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470.5,"y":305,"wires":[["b5af7baf.d45008"]]},{"id":"b5af7baf.d45008","type":"change","z":"4289ebaf.ea24d4","name":"Alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":653,"y":305,"wires":[["a407cb16.27bf88"]]},{"id":"a407cb16.27bf88","type":"debug","z":"4289ebaf.ea24d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":833,"y":303,"wires":[]},{"id":"aa7fde8a.0517d","type":"inject","z":"bf156dbb.6d362","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":126,"wires":[["1f61453c.eaf7ab"]]},{"id":"c80abf80.a2787","type":"debug","z":"bf156dbb.6d362","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":403,"y":129,"wires":[]},{"id":"1f61453c.eaf7ab","type":"function","z":"bf156dbb.6d362","name":"convert to string","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":336.5,"y":209,"wires":[["c80abf80.a2787"]]}]